#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

img.background {
  /* Fill background */
  min-height: 100%;
  min-width: 1024;

  /* Scale proportionaly */
  width: 100%;
  height: auto;

  /* Positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.section {
  min-height: 100vh;
  position: relative;
}

.section > div {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.section-1{
  font-size: 2.5em;
  color: white;
  
}

.shadow{
  background-color: black;
  opacity: 55%;
}