#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.parralax{
  /* The image used */
  background-image: url("https://scontent-dus1-1.cdninstagram.com/v/t51.2885-15/e35/14449151_340575512955269_8992556396968935424_n.jpg?tp=1&_nc_ht=scontent-dus1-1.cdninstagram.com&_nc_cat=105&_nc_ohc=xaZpdFMYSrEAX9czpwF&oh=58d2c4c9ba06dbeac45c9e72be0938fb&oe=60689DC1");


  /* Set Height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}